In [23]:
import os
import pandas as pd

In [24]:
cwd = os.getcwd()
DATA_DIR = os.path.join(cwd, 'data')

In [25]:
os.listdir(DATA_DIR)

['2020.csv',
 '2019.csv',
 '2018.csv',
 '2001.csv',
 '2015.csv',
 '2014.csv',
 '2000.csv',
 '2016.csv',
 '2002.csv',
 '2003.csv',
 '2017.csv',
 '2013.csv',
 '2012.csv',
 '2004.csv',
 '2010.csv',
 '2011.csv',
 '2005.csv']

In [35]:
my_items =[
    {'actress': 'action', 'hero': 'matrix'},
    {'actress': 'Priyanka', 'hero': 'Keave'}
]


df = pd.DataFrame(my_items)
df

    actress    hero
0    action  matrix
1  Priyanka   Keave

In [37]:
df ['hero']

0    matrix
1     Keave
Name: hero, dtype: object

In [38]:
df [0:1]

  actress    hero
0  action  matrix

In [43]:
df.iloc[0:1]

  actress    hero
0  action  matrix

In [44]:
my_data = os.path.join(DATA_DIR, '2019.csv')
os.path.exists(my_data)

True

In [46]:
df2 = pd.read_csv(my_data)
df2

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
...,...,...,...,...,...,...,...
680,681,Jimi Hendrix Electric Church,"$1,818",-,-,"$1,818",100%
681,682,Game Day,"$1,624","$1,624",100%,-,-
682,683,The Hours and Times,"$1,273","$1,273",100%,-,-
683,684,The Untold Story,$790,$790,100%,-,-
684,685,The Portal,$685,-,-,$685,100%

In [48]:
df2.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
5,6,Joker,"$1,074,251,311","$335,451,311",31.2%,"$738,800,000",68.8%
6,7,Star Wars: Episode IX - The Rise of Skywalker,"$1,074,144,248","$515,202,542",48%,"$558,941,706",52%
7,8,Toy Story 4,"$1,073,394,593","$434,038,008",40.4%,"$639,356,585",59.6%
8,9,Aladdin,"$1,050,693,953","$355,559,216",33.8%,"$695,134,737",66.2%
9,10,Jumanji: The Next Level,"$796,575,993","$316,831,246",39.8%,"$479,744,747",60.2%

In [50]:
df2.tail(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
675,676,TINY: The Life of Erin Blackwell,"$2,465","$2,465",100%,-,-
676,677,I Lost Albert 2019 Re-release,"$2,354","$2,354",100%,-,-
677,678,A German Youth,"$2,343","$2,343",100%,-,-
678,679,Serendipity,"$2,298","$2,298",100%,-,-
679,680,Jihadists,"$2,104","$2,104",100%,-,-
680,681,Jimi Hendrix Electric Church,"$1,818",-,-,"$1,818",100%
681,682,Game Day,"$1,624","$1,624",100%,-,-
682,683,The Hours and Times,"$1,273","$1,273",100%,-,-
683,684,The Untold Story,$790,$790,100%,-,-
684,685,The Portal,$685,-,-,$685,100%