In [8]:
import os
import pandas as pd
import boto3

In [9]:
print(os.getcwd())

/Users/gopalmondal/Desktop/gitfolder/ETL_with_Pandas

In [10]:
cwd = os.getcwd()
DATA_DIR = os.path.join(cwd, 'cache')
working_file = os.path.join(DATA_DIR, 'output_1.csv')

In [11]:
df = pd.read_csv(working_file, index_col=False)
df.head()

,Unnamed: 0,Rank,Release Group,Worldwide,Domestic,Foreign,year,filename,Domestic %,Foreign %
0,0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019,2019.csv,30.680278,69.319722
1,1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015,2015.csv,45.288247,54.711753
2,2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018,2018.csv,33.139466,66.860534
3,3,4,Jurassic World,1670400637,652270625,1018130012,2015,2015.csv,39.048753,60.951247
4,4,5,The Lion King,1656943394,543638043,1113305351,2019,2019.csv,32.809693,67.190307

In [13]:
s3_resource = boto3.resource('s3')
s3_resource.Object('say1moviedata', 'movie_list.csv').put(Body=open(working_file, 'rb'))

{'ResponseMetadata': {'RequestId': 'JM16E9D553G5ZVK3',
  'HostId': 'wFBWhl8XR6WJKLnK8tMOB4bcR1OXFt8qkdQe3CEWO+MoqmbtX2m7G/KA3+iYkQcRzShQUIH4KrU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'wFBWhl8XR6WJKLnK8tMOB4bcR1OXFt8qkdQe3CEWO+MoqmbtX2m7G/KA3+iYkQcRzShQUIH4KrU=',
   'x-amz-request-id': 'JM16E9D553G5ZVK3',
   'date': 'Sat, 25 Dec 2021 21:43:14 GMT',
   'etag': '"53fd6e497552a3ad9fda34ac71741753"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"53fd6e497552a3ad9fda34ac71741753"'}